<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IEST簽到</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row" style="margin: 10px">
        <div class="col-12" style="margin: 10px">
            <label>姓名</label>
            <input type="text" id="sname" class="form-control" />
            <br />
            <label>狀態</label>
            <select id="sel_type" class="form-control">
                <option selected>簽到</option>
                <option>請假</option>
            </select>
            <br />
            <label>日期</label>
            <input type="datetime-local" id="datetime" value="" class="form-control" />
            <br />
            <button class="btn btn-success btn-block" id="btn_reserve">確定</button>
        </div>
    </div>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
	<script>
        function initializeLiff(myLiffId) {
            liff.init({liffId: myLiffId });
        }

        function reserve(sel_type, datetime) {
            if (sel_type == '' || datetime=='' || sname =='' ) {  //資料檢查
                alert('所有欄位都要填寫！');
                return;
            }
            var ms = "###";  //回傳訊息字串
            ms = ms + sname + "/"
            ms = ms + sel_type + "/";
            ms = ms + datetime + "/";
			liff.sendMessages([  //推播訊息
				{ type: 'text',
				  text: ms
				}
			])
				.then(() => {
					liff.closeWindow();  //關閉視窗
				});
		}
		$(document).ready(function () {
			initializeLiff('{{ liffid }}');
            $('#btn_reserve').click(function (e) {  //按下確定鈕
                reserve($('#sname').val(),$('#sel_type').val(), $('#datetime')[0].value);
            });
		});
	</script>
</body>
</html>
